*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --primary-color: #fff;
    --secondary-color: #111;
    --tertiary-color: rgba(255, 255, 255, 0.1);
    --quaternary-color: rgba(255, 255, 255, 0.2);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--secondary-color);
}
